include C:\Masha\frontend\booking-system\src\form-elements\__radio-buttons\radio-button.pug

+new-radio-button("pet", 0, "Нельзя с питомцами", "radio-button-custom", "label-for-radio radio-button__label__text ")