mixin input(text) 
    input(type='text' class='text-field text-field__text' value=text)

mixin label(title)
    label.text-field__label=title 
    
     
link(rel="stylesheet" href="text-field.css")
div(class="text-field__wrapper")
    +label("text field") 
    +input("email")