body {
    background: yellow;

}

.button {
    width: 99px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__text { 
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
}

.button__text__white {
    color: white;
}

.button__text__purpule {
   color: #BC9CFF;
}

.button__text__grey {
    color: #1F2041;
    opacity: 0.5;
}

.button__gradient-background {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button_gradient-border {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background-clip: padding-box; /* !important */
    border-radius: 22px;
}

.button_gradient-border:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit; /* !importanté */
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button_gradient-border:after {
    content: '';
    position: absolute;
    top: 2px; right: 2px; bottom: 2px; left: 2px;
    border-radius: inherit; /* !importanté */
    background: white;
    border-radius: 22px;
}

.button__disabled {
    opacity: 0.5;
}

