link(rel="stylesheet", href="like-button.css")

mixin new-like-button(classes, id, value)
    div(class=classes id=id)=value

+mixin("like-button like-button__checked-theme like-button__checked-theme-text", "3")