html(lang="ru")
    include C:\Masha\frontend\booking-system\form-elements\__form-for-content\form-for-content.pug
    h1 Войти
    include C:\Masha\frontend\booking-system\form-elements\__text-field\text-field.pug
    include C:\Masha\frontend\booking-system\form-elements\__text-field\text-field.pug
    include C:\Masha\frontend\booking-system\form-elements\__button\button.pug