include C:\Masha\frontend\booking-system\src\form-elements\__checkbox-button\checkbox-button.pug

mixin text-to-p(text, classes)
    p(class=classes)=text

html(lang="ru")
link(rel="stylesheet", href="rich-checkbox.css")
+new-checkbox("kor", "Широкий коридор" ,"checkbox-custom","rich-checkbox__label__text label-for-checbox", 0)
+text-to-p("Миша смешной!", "rich-checkbox__description__text rich-checkbox__description__text-position")
