mixin new-checkbox(id, label__text, state)
    if state
        input(type="checkbox" id=id class="checkbox-custom" checked)
    else
        input(type="checkbox" id=id class="checkbox-custom")
    label(for=id class="checkbox-button__label__text label-for-checbox")=label__text 


link(rel="stylesheet" href="checkbox-button.css")
+new-checkbox("sex", "Man", 0)

